<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}AI Exam Proctoring System{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">

        <div class="logo">
            AI Proctor
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/login" class="login-btn">Login</a></li>
        </ul>

    </nav>

    <!-- Page Content -->
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- Footer -->

    <footer>

        <p>© 2026 AI Exam Proctoring System | Developed using Flask & OpenCV</p>

    </footer>

</body>
</html>