<head>
    ...
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <h1>Welcome Back</h1>

        <p>Login to continue</p>

        <form id="loginForm">

            <input
                type="email"
                placeholder="Email Address"
                required
            >

            <input
                type="password"
                placeholder="Password"
                required
            >

            <select id="role">

                <option value="">Select Role</option>

                <option value="student">
                    Student
                </option>

                <option value="teacher">
                    Teacher
                </option>

            </select>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

<script>

document.getElementById("loginForm")
.addEventListener("submit", function(e){

    e.preventDefault();

    let role = document.getElementById("role").value;

    if(role==="teacher"){
        window.location="/teacher";
    }

    else if(role==="student"){
        window.location="/student";
    }

    else{
        alert("Please select a role.");
    }

});

</script>

{% endblock %}